.page
  #primary.w_900
    .text
      %h1 Profiles
      %br/
      = will_paginate @profiles
      %table.posts
        %tr
          %th User
          %th Name
          %th Email
          %th image
          %th Location
          -#%th City
          -#%th Country
          %th Authorize
          %th Created
          %th
          %th
          -#%th
        - i = 1
        - @profiles.each do |profile|
          %tr{:class=> "#{'white' if i%2 == 0}"}
            %td= i
            %td= link_to "#{profile.first_name.to_s} #{profile.last_name.to_s}", profile.profile_link, :target => "_blank"
            %td= profile.user.email
            %td= image_tag(profile.image)
            %td= profile.location
            -#%td= profile.city
            -#%td= profile.country
            %td= profile.authorize
            %td= profile.created_at.strftime("%m/%d/%Y")
            %td= link_to 'Post', "javascript:social_post(#{profile.id})"
            %td= link_to 'Destroy', profile, confirm: 'Are you sure?', method: :delete
            -#%td= link_to 'Show', profile
            -#%td= link_to 'Settings', edit_profile_path(profile)
          - i = i +1


