.page
  #primary.login_reg_page
    .text
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        %fieldset.col-3
          %legend
            %h1 Sign Up
          %ul
            = devise_error_messages!
            %li.col-span-2
              %label.input-text
                %span.label Email
                = f.email_field :email, :class => "txarea1"
            %li.col-span-2
              %label.input-text
                %span.label Password
                = f.password_field :password, :class => "txarea1"
            %li.col-span-2
              %label.input-text
                %span.label Confirm Password
                = f.password_field :password_confirmation, :class => "txarea1"
        %p.buttons{:style => "margin-top:0px;"}
          %button.primary-call{:type => "submit"} Sign Up
          %a{:href => "/employer_dashboard"} Cancel

