= form_for(@social_app) do |f|
  %ul
    = f.fields_for :setting do |s|
      %li.col-span-2
        = error_messages(@social_app)
        %label.input-text
          %span.label Facebook ID
          = s.text_field :facebook_id, :class => "txarea1"
      %li.col-span-2
        %label.input-text
          %span.label Facebook Secret
          = s.text_field :facebook_secret, :class => "txarea1"
      %li.col-span-2
        %label.input-text
          %span.label
            %h2 Permissions
        %ul.permissions
          %li
            %label
              = s.check_box :publish_stream, :class => "txarea1"
              %span.remember_me publish_stream
            %label
              = s.check_box :offline_access, :class => "txarea1"
              %span.remember_me offline_access
            %label
              = s.check_box :manage_pages, :class => "txarea1"
              %span.remember_me manage_pages
            %label
              = s.check_box :create_event, :class => "txarea1"
              %span.remember_me create_event
            %label
              = s.check_box :rsvp_event, :class => "txarea1"
              %span.remember_me rsvp_event
            %label
              = s.check_box :xmpp_login, :class => "txarea1"
              %span.remember_me xmpp_login
  %p.buttons{:style => "margin-top:0px;"}
    %button.primary-call{:type => "submit"} Save
    = link_to 'Back', social_apps_path





