.page
  #primary.w_100
    .text
      %h1 Social Posts
      %br/
      =# link_to 'Create Post  |', new_social_post_path
      = link_to 'Create Photo Post  |', new_photo_post_path
      = link_to 'Create Post |', new_social_post_path
      = link_to 'Welcome Post |', edit_welcome_post_path
      = link_to 'Default Post |', edit_default_post_path
      = link_to 'Show Photo Post  |', social_posts_path(:post_type => "photo")
      = link_to 'Show Post', social_posts_path(:post_type => "post")
      - if @posts.present?
        %table.posts
          %tr
            %th Name
            %th Link
            %th Picture
            %th Caption
            %th Description
            %th
            %th
            %th
          - @posts.each do |social_post|
            %tr
              %td= social_post.name
              %td= social_post.link
              %td= image_tag social_post.picture, :style => "width:75px;height:75px;"
              %td= social_post.caption
              %td= format_text(100, social_post.description)
              %td= link_to 'Show', social_post
              %td= link_to 'Edit', edit_social_post_path(social_post)
              %td= link_to 'Destroy', social_post, confirm: 'Are you sure?', method: :delete
      - elsif @photo_posts.present?
        %table.posts
          %tr
            %th Photo message
            %th Photo path
            %th
            %th
            %th
          - @photo_posts.each do |social_post|
            %tr
              %td= social_post.photo_message
              %td= social_post.photo_path
              %td= link_to 'Show', social_post
              %td= link_to 'Edit', edit_social_post_path(social_post)
              %td= link_to 'Destroy', social_post, confirm: 'Are you sure?', method: :delete, :remote => true
