#header
  .page
    #utilities
      %ul
        - if admin_signed_in?
          %li{:class => "#{active_class("home")}"}
            = link_to 'Home', root_path
          %li{:class => "#{active_class("events")}"}
            = link_to 'Events', events_path
          %li{:class => "#{active_class("social_posts")}"}
            = link_to 'Posts', social_posts_path
          %li{:class => "#{active_class("profiles")}"}
            = link_to 'Profiles', profiles_path
          %li{:class => "#{active_class("sessions")}"}
            = link_to "Log Out", destroy_user_session_path, :method => :delete

        -else
          %li{:class => "#{active_class("home")}"}
            = link_to 'Home', root_path
          %li
            = link_to 'Login', new_user_session_path
          -#%li
          =# link_to 'Sign Up', new_user_registration_path
