%html
  %head
    %title= content_for?(:title) ? yield(:title) : "beSocial"
    = stylesheet_link_tag "application", "slider","jquery.jcarousel"
    = javascript_include_tag :application, "jquery-1.7.1.min.js","jquery.jcarousel.pack", "func.js", "slider"
    = csrf_meta_tag
    = yield(:head)
  %body
    = render "layouts/header" if admin_signed_in?
    #content
      =yield
