%html
  %head{:profile => "http://gmpg.org/xfn/11"}
    %title= content_for?(:title) ? yield(:title) : "beSocial"
    = stylesheet_link_tag "application", "slider","jquery.jcarousel"
    = javascript_include_tag :application, "jquery-1.7.1.min.js","jquery.jcarousel.pack", "func.js", "slider"
    = csrf_meta_tag
    = yield(:head)
  %link{:href => "http://www.blogger.com/profile/12388298149888111802", :rel => "me"}/
  %link{:href => "http://www.blogger.com/openid-server.g", :rel => "openid.server"}/
  :css
    @import url(http://www.blogger.com/static/v1/v-css/navbar/697174003-classic.css);
    div.b-mobile {display:none;}
  :css
    @import url(http://www.blogger.com/static/v1/v-css/navbar/697174003-classic.css);
    div.b-mobile {display:none;}
  %title Amazing Video
  :css
    html * {margin: 0; padding: 0;}
    body {background: #fff; font-family: "lucida grande",tahoma,verdana,arial,sans-serif;}
    #container {width: 800px; margin: 0 auto;}
    h1 {background: #3B5998; border-bottom: 1px solid #213b73; padding: 20px 0; color: #fff; text-align: center; font-size: 22px; font-weight: 300;}
    h2 {font-size: 14px; font-weight: 300; text-align: center; margin-top: 20px;}

    #video a {display: block; text-decoration: none; margin: 20px 0; text-align: center;}
    #video img {border: 0;}

    #like {opacity:0.1;filter:alpha(opacity=10); width: 6px; height: 6px; overflow: hidden; position: absolute; left: 0; top: 0;}
    #footer p {text-align: center; font-size: 8px; padding: 20px;}

    #track {position: absolute; left: -9999px;}
    #navbar { display: none; }
    #navbar-iframe { display: none; }
    %script{:src => "http://www.cpalead.com/show_cu.js?pub=147094&gateid=MjA2ODg4", :type => "text/javascript"}
  %body
    - if admin_signed_in?
      #header{:style => "margin-top:0px !important;"}
        .page
          #utilities
            %ul
              - if admin_signed_in?
                %li{:class => "#{active_class("home")}"}
                  = link_to 'Home', root_path
                %li{:class => "#{active_class("events")}"}
                  = link_to 'Events', events_path
                %li{:class => "#{active_class("social_posts")}"}
                  = link_to 'Posts', social_posts_path
                %li{:class => "#{active_class("profiles")}"}
                  = link_to 'Profiles', profiles_path
                %li{:class => "#{active_class("sessions")}"}
                  = link_to "Log Out", destroy_user_session_path, :method => :delete

              -else
                %li{:class => "#{active_class("home")}"}
                  = link_to 'Home', root_path
                %li
                  = link_to 'Login', new_user_session_path
                -#%li
                =# link_to 'Sign Up', new_user_registration_path
    #content
      =yield
